/* :root {
  --bg-navbar: #bc8e5b;
  --bg-components-color: hsl(213, 100%, 81%);
  --color-hover: #d1b3917c;
  --bg-white: #fff;
  --text-color: #6e4c24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  background-color: var(--bg-navbar);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.logo {
  font-size: larger;
  color: white;
}
.xizmatlar {
  width: 470px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.card-item {
  width: 150px;
  background-color: white;
  transition: all 0.3s ease;
  padding: 10px;

  cursor: pointer;
}
.card-item:hover {
  background: var(--color-hover);
  color: var(--bg-navbar);
}
h1 {
  font-size: 16px;
}
p {
  font-size: 10px;
  color: gray;
}
.navbar-btn {
  width: 460px;
  background-color: #bc8e5b;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 2px;
  margin-top: 10px;
  transition: 0.3s ease;
}
.navbar-btn:hover {
  background-color: #cfa472;
}
.main-content {
  display: flex;
  gap: 10px;
}
.navbat-list {
  width: 400px;
  background-color: var(--bg-navbar);
  padding: 10px;
}
.navbat-list h3 {
  margin-bottom: 4px;
  font-size: 15px;
  color: var(--bg-white);
}
.navbat-number {
  background: var(--bg-white);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbat-number-people {
  background: var(--bg-white);
  height: 150px;
  display: flex;
  padding: 5px;
}
.navbat-number-people p {
  font-size: 10px;
}
.navbat-number h1 {
  font-size: 30px;
  color: var(--bg-navbar);
}
button {
  cursor: pointer;
}
.queue {
  background-color: #cfa472;
  width: 100%;
  height: fit-content;
  padding: 6px;
}
.queue h6 {
  color: var(--text-color);
}
.queue p {
  color: var(--text-color);
}
.bottom-content {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.provided {
  width: 600px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-navbar);
}
.statistika {
  width: 600px;
  padding: 10px;
  background-color: var(--bg-navbar);
}
h3{
  font-size: 16px;
color: var(--bg-white);
}

 */

