*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(64, 134, 219);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.left-nav-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-nav-menu i{
    font-size: 50px;
}

.left-nav-menu h2 span{
    color: rgb(255, 81, 0);
}

.clock{
    display: flex;
    align-items: center;
    padding: 9px;
    background-color: #e1e5e551;
    border-radius: 8px;
    cursor: pointer;
}

.clock i{
    margin-right: 5px;
    font-size: 19px;
}